.container {
    padding: 40px 20px 20px 20px;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    background: #E5E5E5;
}

.subtitle {
    width: 103px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.66;
    text-align: center;
    color: #333333;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.title {
    width: 220px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 38px;
    line-height: 1.26;
    text-align: center;
    color: #333333;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.text {
    width: 207px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    color: #333333;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.img {
    position: relative;
    width: 280px;
    margin-bottom: 16px;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.imgWrapper {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: calc(100% - 16px);
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(0, 0, 0, 0.6);
}

.overlayText {
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    grid-auto-rows: minmax(100px, auto);

    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.imgWrapper:hover .overlay {
    opacity: 1;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.imgWrapper:hover .img {
    transition: .5s ease;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-box-shadow: 5px 5px 24px 0px #000000;
    box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.4);

}

.svgIcon {
    fill: #FFFFFF;
    -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svgIcon:hover {
    opacity: 0.8;
}

.mainLabel {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 1.25;
    text-align: center;
    color: #333333;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
}

.label {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    color: #333333;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .container {
        padding: 40px 32px 40px 32px;
        width: 768px;
    }

    .subtitle {
        width: 114px;
        font-size: 20px;
        line-height: 1.65;
        margin-bottom: 24px;
    }

    .title {
        width: 410px;
        margin-bottom: 24px;
    }

    .text {
        width: 625px;
        font-size: 17px;
        line-height: 1.66;
        margin-bottom: 24px;
    }

    .img {
        width: 223px;
        margin-bottom: 14px;
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 18px;
        grid-auto-rows: minmax(100px, auto);
    }

    .mainLabel {
        font-size: 25px;
        line-height: 1.27;
    }

    .label {
        font-size: 18px;
        line-height: 1.56;
    }

    .overlay {
        height: calc(100% - 14px);
    }
}

@media screen and (min-width: 1360px) {
    .container {
        padding: 80px 28px 80px 28px;
        width: 1360px;
    }

    .text {
        width: 648px;
        font-size: 18px;
        line-height: 1.56;
    }

    .img {
        width: 421px;
        margin-bottom: 20px;
    }

    .wrapper {
        gap: 20px;
    }

    .overlay {
        height: calc(100% - 20px);
    }
}