.container{
    position: fixed;
    top: 0;
    width: 320px;
    height: 120px;
    background-color: transparent;
    padding: 20px 23px;
    z-index: 5;
    
}
.logo {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.32;
    color: #28A745;
    margin-left: 6px;
}

.logoActive {
    color: #FFFFFF;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo:hover {
    font-size: 44px;
    color: #52b669;
}

.logo:hover .logoActive {
    font-size: 44px;
    color: #FFFFFF;
}

.list {
    display: flex;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 12px;
    font-family: 'Open Sans';
}

.link {
    color: #FFFFFF;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.items {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.items + .items {
    margin-left: 12px;
}

@media screen and (min-width: 768px) {
    .container{
        width: 768px;
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
   
    .list {
        padding: 0px;
    }
    .items+.items {
        margin-left: 20px;
    }
    .items {
        font-size: 18px;
        line-height: 1.56;
    }
 }

 @media screen and (min-width: 1360px) {
    .container{
        width: 1360px;
    }
    .items+.items {
        margin-left: 40px;
    }
 }