.container {
    margin: 0 auto;
    width: 480px;
    height: 533px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../images/home/showcase.jpg');
    background-size: cover;
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .container {
        background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../images/home/showcase@2x.jpg');
    }
}

 @media screen and (min-width: 768px) {
     .container {
         width: 768px;
         height:1024px;
        background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../images/home/showcase.jpg');
        background-size: cover;
     }
         @media (min-device-pixel-ratio: 2),
         (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi),
         (min-resolution: 2dppx) {
             .container {
                 background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../images/home/showcase@2x.jpg');
             
             }
 }}

 @media screen and (min-width: 1360px) {
     .container {
         width: 1360px;
         height: 768px;
        background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../images/home/showcase.jpg');
        background-size: cover;     
    }
         @media (min-device-pixel-ratio: 2),
         (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi),
         (min-resolution: 2dppx) {
             .container {
                 background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../images/home/showcase@2x.jpg');
    
             }}
 }

 .logo{
    font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 42px;
        color: #28A745;
        margin-left: 6px;
        padding: 1px;
 }
 .logoActive{   
    color: #FFFFFF;
 }
 .wrapper{
    display: flex;
    justify-content: center;
    padding-top: 27px;
 }

.logo:hover{
    font-size: 44px;
    color: #52b669;
}

 .logo:hover .logoActive{
    font-size: 44px;
    color: #FFFFFF;
 }
 
 .list{
    display: flex;
    justify-content:space-around;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 12px;
 }

 .link{   
    color: #FFFFFF;
    text-decoration: none;
 }

 .link:hover{
    text-decoration:underline;
 }
.items{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

 .desktopWrapper {
     display: flex;
     flex-direction: column;
 }
 .title{
    width: 241px;
        height: 132px;
        left: 857px;
        top: 142px;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
    
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 300;
        font-size: 52px;
        line-height: 1.27;    
        text-align: center;
        color: #E9E9E9;
 }

 @media screen and (min-width: 768px) {
     .desktopWrapper {
         flex-direction: row;
         justify-content: space-between;
         padding: 20px 32px 0px 32px;
     }
     .wrapper{
        padding-top: 0px;
     }

     .list{
        padding: 0px;
     }
     .items + .items{
        margin-left: 20px;
     }
     .items{
        font-size: 18px;
        line-height: 28px;
     }
     .title{
        margin-top: 344px;
        width: 493px;
        height: 66px;
        font-size: 55px;
     }
 }

 @media screen and (min-width: 1360px) {
    .desktopWrapper {
            padding: 12px 28px 0px 28px;
    }
    .title{
        margin-top: 224px;
     }
 }