.container {
    margin: 0 auto;
    width: 320px;
    height: 533px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../images/home/showcase.jpg');
    background-size: cover;
    padding-top: 142px;
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .container {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../images/home/showcase@2x.jpg');
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        height: 1024px;
        padding-top: 407px;
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../images/home/showcase.jpg');
        background-size: cover;
    }

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .container {
            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../images/home/showcase@2x.jpg');

        }
    }
}

@media screen and (min-width: 1360px) {
    .container {
        width: 1360px;
        height: 768px;
        padding-top: 279px;
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../images/home/showcase.jpg');
        background-size: cover;
    }

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .container {
            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../images/home/showcase@2x.jpg');

        }
    }
}

.title {
    width: 241px;
    font-family: 'Open Sans';
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
    font-weight: 300;
    font-size: 52px;
    line-height: 1.27;
    text-align: center;
    color: #E9E9E9;
}

.subtitle {
    width: 246px;
    height: 74px;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.67;
    text-align: center;
    color: #E9E9E9;
    font-family: 'Open Sans';
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    width: 156px;
    height: 45px;
    background: #28A745;
    border-radius: 5px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    color: #FFFFFF;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    cursor: pointer;
}

.button:hover,
.button:focus {
    background-color: rgba(40, 167, 49, 0.8);
}

.svgBtn {
    display: none;
}

@media screen and (min-width: 768px) {
    .title {
        width: 493px;
        height: 66px;
        font-size: 55px;
    }

    .subtitle {
        width: 459px;
        height: 37px;
        font-size: 22px;
        line-height: 1.67;
        margin-top: 24px;
    }

    .button {
        width: 165px;
        height: 48px;
        font-size: 18px;
        line-height: 1.56;
        margin-top: 32px;
    }

    .svgBtn {
        display: inline-block;
    }
}

@media screen and (min-width: 1360px) {}