.container {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column-reverse;
}
.img{
    width: 320px;
}
.wrapper{
    background: #0284D0;
    padding: 40px 40px 40px 20px;
  
}
.subtitle{
    width: 114px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.66;
    color: #FFFFFF;
    margin-bottom: 8px;
}
.title{
    width: 254px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 38px;
    line-height: 1.26;   
    color: #FFFFFF;
    margin-bottom: 24px;
}
.text{
    width: 260px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;   
    color: #FFFFFF;
    margin-bottom: 24px;
}
.btn{
    box-sizing: border-box;
    width: 184px;
    height: 47px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;  
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #FFFFFF;
}
.btn:hover{
    color:#0284D0;
    background-color: #FFFFFF;
}

 @media screen and (min-width: 768px) {
     .container {
         width: 768px;
         flex-direction: row;
     }
    .img{
        width: 368px;
        object-fit: cover;
     }
    .wrapper {
        padding: 40px 53px 40px 32px;
    
    }
    .subtitle {
        width: 126px;
        font-size: 20px;
        line-height: 1.65;
    }
    .title {
        width: 254px;
    }
    .text {
        width: 315px;
        font-size: 18px;
        line-height: 1.56;
    }
    .btn{
        width: 196px;
        height: 50px;
        font-size: 18px;
        line-height: 1.56;
    }
}
 @media screen and (min-width: 1360px) {
    .container{
        width: 1360px;
    }
    .img{
        width: 670px;
    }
    .wrapper {
        padding: 80px 56px 80px 28px;
    }
    .text {
        width: 606px;
    }
 }